# node
node_modules/
dist/
.cache/
.vite/

# système
.DS_Store
.env
.env.local
.env.development

# logs
logs
*.log
npm-debug.log*

# railway
railway.json

# autres trucs temporaires
*.swp
*.swo
*.tmp

# Vite
.vitepress

!/.railway/setup.sh
!.env.production

