# Dépendances
node_modules/

# Builds
dist/
build/
out/
.next/

# Environnements
.env
.env.local
.env.production
.env.development

# IDE et outils
.vscode/
.idea/
.vite/

# OS et fichiers inutiles
.DS_Store
Thumbs.db
*.log
*.swp
